[server]
threads = 4
tmp-dir = /tmp/runuram/

[network]
address = 0.0.0.0
https.port = 8080
http.port = 8081
websocket.port = 9090

[ssl]
run-ssl = false
cert = /opt/runuram/ssl/cert.pem
key = /opt/runuram/ssl/key.pem

[logger]
dir = /var/log/runuram/
# [trace, debug, info, warn, err, critical, off]
level = info
async = true
# Formatting pattern for log messages
pattern = [%Y-%m-%d %H:%M:%S.%f] [%l] %v
# Flush logs to disk every N seconds
flush-interval = 5